{% extends "nav.html" %}
{%block title%}

shop SET password

{%endblock title%}


{% block body %}
<section id="contact" class="contact">
    <div class="container">

      <div class="section-title" data-aos="fade-up">

<div class="row">
<div class="col-md-2"></div>
    <div class="col-md-4">
<br>
<br>
<br>


<h1 data-aos="fade-up">Set New Password</h1>
<br>

{%for message in messages %}

<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong></strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}



<form action="{%url 'setnewpassword' uidb64 token %}" method="post">
{%csrf_token%}
    <br>
    
    <div class="mb-3">
        <label class="form-label" for="pass1">Password</label>
        <input type="password" class="form-control" id="inputPassword"  name ="pass1" placeholder="Password" required>
  <div class="mb-3">
        <label class="form-label" for="pass2">Confirm Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password"  name="pass2"required>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">submit</button>
    <hr>
     <a href="/shopauth/login/">Go back</a>

</form>

</section>



{% endblock body %}
